.footer {
  background-color: rgb(0, 24, 33, 1);
  margin: 0 auto;
  display: flex;
}

.footer__wrapper {
  min-height: 135px;
  min-width: 1141px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 86px;
}

.footer__socials {
  display: flex;
}

.socials__list {
  list-style-type: none;
  display: flex;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-left: 155px;
  justify-content: space-between;
}

.socials__item {
  opacity: 40%;
  margin-inline: 10px;
}

.socials__item:hover {
  opacity: 110%;
}


.footer__contacts {
  margin-left: 74px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer__desc {
  min-width: 210px;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

.footer__phone {
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}