@import url(header.css);
@import url(footer.css);
@import url(pagination.css);

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

ul {
  padding-inline-start: 0px;

}

body {
  font-family: 'Open Sans', Hevetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background: url(../img/background_page1.png), url(../img/background_page2.png);
  background-color: rgb(0, 22, 33, 1);
  background-position: top, bottom;
  background-repeat: no-repeat;
}


/* a:visited {
  color: white;
  text-decoration: none;
} */

a {
  text-decoration: none;
}

.header {
  display: flex;
  min-height: 123px;
  padding-top: 27px;
  min-width: 1141px;
  background-image: none;
  margin-bottom: 0px;
}

.header__container {
  margin-bottom: 0px;
}

.maincontent {
  color: white;
}

.maincontent__wrapper {
  width: 1141px;
  margin: 0 auto;
  margin-top: 46px;
}

.tour__wrapper {
  width: 511px;
  margin-bottom: 205px;
}

.tour__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 98.05px;
  color: white;
  margin: 0 auto;
  margin-bottom: 28px;
}

.tour__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  margin-bottom: 35px;
}

.tour__button {
  color: white;
  background-color: red;
  height: 55px;
  width: 168px;
  border-radius: 35px;
  padding-top: 33.5px;
  font-size: 14px;
  line-height: 19.07px;
  font-weight: 700;
  border-width: 0px;
  outline: 0;
  margin: 0 auto;
  padding: 0;
}

.tour__button:hover {
  cursor: pointer;
  color: red;
  background-color: white;
}

.hot-tour {
  color: white;
  margin-bottom: 127px;
}



.container__hot__tour {
  position: relative;
}

.hot-tour__head {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.03px;
  display: inline-block;
  margin: 0;

  margin-bottom: 51px;
}

.hot-tour__head::after {
  content: url(../img/flame.png);
  padding-left: 10px;
}

.hot-tour__list {
  display: flex;
  list-style-type: none;
  margin: 0;

  padding-inline-start: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hot-tour__item {
  display: flex;
  color: black;
  background: white;
  width: 362px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}

.item__image {
  width: 100%;
  height: 100%;
}

.item__wrapper {
  padding-top: 33px;
  padding-left: 22px;
  padding-bottom: 25px;
  padding-right: 16px;
}



.item__content {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
  margin-left: 6px;
  margin-top: 21px;
  vertical-align: middle;
  margin-bottom: 25px;
}

.content__calendar {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.content__dates {
  display: flex;
  padding-left: 28px;
  vertical-align: middle;
  align-items: center;
}

.content__calendar::before {
  content: url(../img/icons/calendar.png);
  padding-right: 10px;
  vertical-align: middle;
}

.content__dates::before {
  content: url(../img/icons/meal.png);
  padding-right: 10px;
  vertical-align: middle;
}

.item__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 25px;
}

.item__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.item__button {
  width: 135px;
  height: 55px;
  color: rgba(245, 23, 14, 1);
  border-radius: 35px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  outline: 0px;
  border-width: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.button__wrapper {
  margin-left: 3px;
  margin-top: 25px;

}

.item__button:hover {
  background-color: rgba(245, 23, 14, 1);
  color: white;
  cursor: pointer;
}


.actions {
  margin: auto 0;
  color: white;
  margin-bottom: 127px;
  width: 1139px;

  overflow: hidden;
}

.actions__list {
  padding-inline-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;

}

.content__img {
  height: 100%;
  width: 100%;
}

.actions__head {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 51px;
}

.actions__item {

  width: 557px;
  display: flex;
  flex-direction: column;
}

.actions__content {
  margin-top: -121px;
  padding-left: 28px;

}

.actions__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 1px;
}

.actions__header {
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-top: 13px;

}


.actions__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 2px;
  padding-top: 4px;
  overflow: hidden;
  padding-left: 2px;
}

.pagination__text {
  color: #FFF;
}

.list__link:visited {
  color: #FFF;
}

.list__link {
  color: #FFF;
}


.about-us {
  max-width: 100%;
}

.about-us__list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 600px;
}

.about-us__head {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: black;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 37px;
}

.about-us__text {
  color: #000;
  width: 502px;
  margin-bottom: 53px;
}

.about-us__imgleft {
  display: inline-block;
}

.about-us__imgright {
  display: inline-block;
  margin-left: -137px;
  margin-top: 125px;
  position: absolute;
}

.mountains__img {
  display: block;
}

.about-us__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-us__content {
  padding-top: 71px;
  padding-left: 81px;
  padding-right: 202px;
  padding-bottom: 80px;
}

.about-us__button {
  display: block;
  width: 168px;
  height: 55px;
  color: rgba(245, 255, 255, 1);
  border-radius: 35px;
  border-color: red;
  background-color: red;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__button:hover {
  cursor: pointer;
  color: red;
  background-color: white;
}