@import url(header.css);
@import url(footer.css);
@import url(pagination.css);

body {
  font-family: 'Open Sans', Hevetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  position: relative;
}

a:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.maincontent__wrapper {
  display: flex;
  width: 1168px;
  height: 833px;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 49px;
  margin-bottom: 90px;
}

.services__list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  max-height: 833px;
}


.services__image {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 460px;
  display: flex;
}

.services__container-img {
  height: 342px;
  width: 460px;
  border-radius: 5px;
}

.services__item {
  list-style-type: none;
  display: inline-flex;
  padding-inline-start: 0px;
  min-height: calc(50% -49px);
  margin-top: 49px;
}

.item__content {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  
}

.item__header {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 10px;
}

.item__text {
  display: flex;
  width: 90%;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  overflow: hidden;
  max-height: 135px;
}

.item__button {
  min-width: 155px;
  min-height:  55px;
  color: rgba(245, 23, 14, 1);
  border-radius: 35px;
  border-color: rgba(245, 23, 14, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  display: flex;
  align-items: center;
  padding-block: 0px;
  justify-content: center;
  background: white;
  padding: 18px 40px;
}

.item__button:hover {
  background-color: rgba(245, 23, 14, 1);
  color: white;
  cursor: pointer;
  border-width: 1px;
}

.button__wrapper {
  margin-top: 34px;
  margin-bottom: 18px;
  align-items: center;
}

.pagination__wrapper-margin {
  margin-top: 75px;
}

.partners__wrapper {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 100px;
}

.partners__container {
  width: 1148px;
  margin: 0 auto;
}

.partners__header {
  font-size: 48px;
  font-weight: 700;
  line-height: 66px;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-bottom: 40px;
}

.partners__logolist {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  min-height: 188px;
  width: 1139px;
}

.logo__link {
  width: 100%;
  height: 100%;
}

.partners__logo {
  margin-right: 29px;
  
}

.no-right-margin {
  margin-right: 0px;
  margin-left: 10px;
}
