body {
  font-family: 'Open Sans', Hevetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

.page {
  background: url(img/background_page1.png), url(img/background_page2.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: rgb(23, 23, 31);
  background-size: 100%;
}

a:visited {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

.header {
  padding-top: 27px;
  margin-bottom: 156px;
}

.header__container {
  width: 1141px;
  margin: 0 auto;
  position: relative;
}

.logo__pic {
  display: inline-block;
  top: 0px;
  position: absolute;
  max-width: 85px;
}



.logo__pic__img {
  display: block;
  max-width: 100%;
}

.contacts {
  position: absolute;
  max-width: 100%;
  display: inline-block;
  text-align: right;
  right: 0px;
}

.contacts__phone {
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.contacts__desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);

}

.contacts__desc__hover {
  visibility: hidden;
  text-align: center;

}

.contacts__desc__hover-textlineup {
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  color: black;
}

.contacts__desc__hover-textlinebot {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: black;
}

.contacts__desc:hover {
  .contacts__desc__hover {
    visibility: visible;
    opacity: 80%;
    transition: margin-bottom 2s;
  }
}

.menu {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.menu__container {
  padding-left: 79px;
  margin: 0 auto;


}

.menu__container__list {
  display: inline-block;
  list-style-type: none;
}

.menu__container__list-item {
  display: inline-block;
  padding-left: 55px;
}

.services-link {
  margin-inline: 55px;
}



.maincontent {
  color: white;
}

.maincontent__container {
  width: 1141px;
  margin: 0 auto;
  position: relative;
  margin-top: 46px;
}

.tour {
  width: 511px;
  margin-bottom: 205px;
}

.tour__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 98.05px;
  color: white;
  margin: 0;
}

.tour__desc {
  padding-top: 27.5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  padding-bottom: 35px;
}

.tour__button {
  color: white;
  background-color: red;
  height: 55px;
  width: 168px;
  border-radius: 35px;
  padding-top: 33.5px;
  font-size: 14px;
  line-height: 19.07px;
  font-weight: 700;
  border-width: 0px;
  outline: 0;
  margin: 0 auto;
  padding: 0;
}

.tour__button:hover {
  cursor: pointer;
  color: red;
  background-color: white;
}

.hot__tour {
  color: white;
  margin-bottom: 127px;
}

.hot__tour-fire-img {
  display: inline-block
}

.container__hot__tour {
  position: relative;
}

.hot__tour-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.03px;
  display: inline-block;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 51px;
}

.hot__tour-head::after {
  content: url(img/flame.png);
  padding-left: 10px;
}

.hot__tour__list {
  list-style-type: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.hot__tour__box {
  color: black;

}

.hot__tour__button {
  width: 135px;
  height: 55px;
  color: rgba(245, 23, 14, 1);
  border-radius: 35px;
  border-color: red;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  outline: 0px;
  border-width: 1px;
  background: white;
}

.hot__tour__button__box {
  padding-left: 26px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hot__tour__button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}


.hot__tour__list__item {
  display: inline-block;
  color: black;
  background: white;
  width: 362px;
  border-radius: 5px 5px 0 0;
  margin-right: 15px;
}

.hot__tour__box__content {
  list-style-type: none;
  display: inline-block;
  padding-inline-start: 0;
  padding-left: 28px;
  padding-top: 21px;
  vertical-align: middle;
}

.calendar__hot__tour {
  display: inline-block;
  vertical-align: middle;
}

.meals__hot__tour {
  display: inline-block;
  padding-left: 28px;
  vertical-align: middle;
}

.calendar__hot__tour::before {
  content: url(img/icons/calendar.png);
  padding-right: 10px;
  vertical-align: middle;
}

.meals__hot__tour::before {
  content: url(img/icons/meal.png);
  padding-right: 10px;
  vertical-align: middle;
}

.hot__tour__box__desc {
  padding-top: 25.5px;
  padding-left: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hot__tour__box__name {
  padding-left: 22px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 33px;
}

.news__actions {
  
  margin: auto 0;
  color: white;
  margin-bottom: 127px;
}

.news__actions-blocks {
  padding-inline-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.news__actions-head {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 51px;
}

.news__actions__block {
  width: 557px;
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
  position: relative;
}

.news__actions-content-left {
  position: absolute;
  bottom: 75px;
  left: 30px;
  max-width: auto;
}

.news__actions-content-right {
  position: absolute;
  bottom: 55px;
  left: 30px;
  max-width: auto;
}

.news__actions-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.news__actions-header {
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-top: 13px;
  padding-left: 1px;
}


.news__actions-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 2px;
  padding-top: 4px;
  overflow: hidden;
}

.news__actions-text2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 2px;
  padding-top: 15px;
  overflow: hidden;
}

.tour__pagination {
  margin: auto 0;

}

.tour__pagination {
  padding-left: 382px;
  padding-top: 58px;
}

.tour__pagination-display {
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  vertical-align: middle;
}

.tour__pagination-elem {
  display: inline-block;
  margin: auto 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: auto 0;
}

.tour__pagination-pages {
  display: inline-block;
  margin: auto 0;
  margin-block-start: 0;
  margin-block-end: 0;
  vertical-align: middle;
}

.tour__pagination-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  width: 30px;
  max-height: 30px;
  position: relative;
}

.tour__pagination-link {
  text-decoration: none;
  border-radius: 50%;
  display: block;
  width: 21px;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}





.tour__pagination-link:hover{
  color: red;
  background-color: white;
  border-radius: 50%;
  
  
}

.about__us {
  max-width: 100%;
}

.about__us-list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 600px;
}

.about__us-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: black;
  margin-block-end: 0;
  margin-block-start: 0;
}

.about__us__text {
  color: black;
  width: 502px;
  padding-bottom: 43px;
}

.about__us__img-left {
  display: inline-block;
}

.about__us__img-right {
  display: inline-block;
  margin-left: -137px;
  margin-top: 125px;
  position: absolute;
}

.mountains__img {
  display: block;
}

.about__us-content-wrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about__us-content {
 padding: 70px 81px;
}

.about__us__button {
  display: block;
  width: 168px;
  height: 55px;
  color: rgba(245, 255, 255, 1);
  border-radius: 35px;
  border-color: red;
  background-color: red;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border: 1px;
  margin-top: 43px;
}

.about__us__button:hover {
  cursor: pointer;
  color: red;
  background-color: white;
}

.footer {
  vertical-align: bottom;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
  margin: 0 auto;
  width: 1141px;
  flex: 0 0 auto;
}

.container__footer {
  position: relative;
  height: 50px;
}

.logo__pic__footer {
  display: inline-block;
  max-width: 85px;
}

.logo__pic__img {
  display: block;
  max-width: 100%;
}

.footer__socials {
  display: inline-block;
  vertical-align: bottom;
}

.footer__socials-pages {
  display: inline-block;
  margin: auto 0;
  width: 200px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-left: 150px;
}

.socials__item {
  display: inline-block;
  padding-left: 10px;
  text-decoration: none;
  opacity: 40%;
}

.socials__item:hover {
  opacity: 110%;
}


.contacts__footer {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  text-align: right;
  right: 0px;
}

.contacts__phone__footer {
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.menu__container__list__footer {
  margin-block-end: 0;
  margin-block-start: 0;
}